.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
backend/.venv
backend/.env
node_modules
dist
My-Financial-Picture/node_modules
My-Financial-Picture/dist
*.log
.DS_Store

backend/.env
**/.env
**/.env.*
!**/.env.example