.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(251, 254, 255);
  padding: 0.75rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1000;
}

.navbar-left h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111827;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
}
.nav-links li {
  font-size: 0.95rem;
  color: #374151;
  cursor: pointer;
}
.nav-links li:hover {
  color: #111827;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
