h1 {
    color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p1 {
    font-family: Google Sans, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: lighter;
}

label{
    color: black;
    font-weight: lighter;
}
input {
    border-radius: 15px;
    width: 500px;
    border-style: solid;
}
.password-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.password-container input{
    border-radius: 15px;
    width: 200px;       /* optional cap to avoid excessively large fields */
    box-sizing: border-box;
}

#phone {
    display: flex;
    align-items: center;
    display: flex;
    border-radius: 15px;
}


.container-link {
    justify-content: center;
    display: flexbox;
    padding-top: 10px;
}

.container-link:hover {
    border-color: #040a77;
    text-decoration: underline;
}

.email-field, #emailprompt {
    width: 400px !important;
    max-width: 100%;
    border-radius: 15px;
}